.select.ok {
  border-color: #34bda5;
  background: #ecfffb;
}
.select.err {
  border-color: #df3353;
  background: #fff3f6;
}

.next-btn {
  cursor: pointer;
}

.page-auth.hide {
  display: none;
}

.page-auth a {
  cursor: pointer;
}

/* Обертка - фон модалки */
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.8); /* затемнённый фон */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* убедись, что выше всех элементов */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

/* Показываем, когда открыта */
.ReactModal__Overlay--after-open {
  opacity: 1;
}

/* Скрываем при закрытии */
.ReactModal__Overlay--before-close {
  opacity: 0;
}

/* Содержимое модального окна */
.ReactModal__Content {
  position: relative;
  /* background: #27aa9140; */
  background: transparent;
  padding: 20px;
  border: none;
  border-radius: 8px;
  width: 90%;
  max-width: 800px;
  /* box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); */
  max-height: 90%;
  overflow: hidden;
  animation: fadeInUp 0.3s ease-in-out;
}

/* Дополнительная анимация появления */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Закрывающая кнопка */
.video-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  padding: 8px 10px;
  border-radius: 50%;
  line-height: 1;
  z-index: 10;
}

/* Видео (iframe) в модалке */
.video-modal iframe {
  width: 100%;
  height: 450px;
  border: none;
  display: block;
  margin-top: 10px;
}

/* Адаптив для мобильных */
@media (max-width: 768px) {
  .ReactModal__Content {
    width: 95%;
    padding: 10px;
  }

  .video-modal iframe {
    height: 300px;
  }
}

.chat_files {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.chat_file_link {
  background: #fff;
  border: 1px solid #cbd5e1;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 10px;
  max-width: 150px;
  overflow: hidden;
  text-align: center;
  word-break: break-all; /* принудительно переносить слово */
  justify-content: space-between;
}

.chat_file_link i {
  font-size: 24px;
}

.chat_file_link span {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.5;
  color: #334155;
  font-size: 14px;
  font-weight: 500;
}

.chat_file_link .files_item_icon {
  width: 30px;
  height: 30px;
  background-size: contain;
  margin-bottom: 10px;
}

.chat_files img {
  height: 100px;
  overflow: hidden;
  border-radius: 8px;
  object-fit: contain;
  width: 100%;
}

.chat_form_files_list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 8px;
}

.chat_form_file_item {
  background: #f3f4f6;
  border: 1px solid #cbd5e1;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.chat_form_file_item button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: red;
}

.file-preview-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.file-preview-modal {
  position: relative;
  background: none;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.file-preview-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  padding: 8px 10px;
  border-radius: 50%;
  line-height: 1;
  z-index: 10;
}

.file-preview-image {
  max-width: 100%;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 8px;
}

.file-preview-iframe {
  width: 90vw;
  height: 90vh;
}

.rules_item_description ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.rules_item_description ul li {
  line-height: 1.5;
  font-weight: 500;
  color: #334155;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 6px;
}
.rules_item_description ul li::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #1e7868;
  margin-top: 9px;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.events_item_info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid #ccc;
  border-top: 5px solid #27ae60; /* зелёный цвет */
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.events_item_info a {
  cursor: pointer;
}
.messengers_trigger {
  cursor: pointer;
}

/* Индекс Массы тела */

.BMIIndicator .ReactModal__Content {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* Интенсивность боли */

.pain-scale-container {
  margin: 30px 0;
  max-width: 450px;
}
.pain-scale-container .top-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.pain-label {
  display: block;
  margin-bottom: 10px;
}

.pain-range {
  width: 100%;
  margin-bottom: 15px;
}

.pain-faces {
  display: grid;
  grid-template-columns: repeat(11, 41px);
}

.pain-faces .pain-level {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  flex: 1;
}

.pain-faces .face {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  /* margin: 0 auto 5px; */
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
}

.pain-faces .face-0 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24.000000' height='24.000000' viewBox='0 0 24 24' fill='none'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs%3E%3CclipPath id='clip5_21'%3E%3Crect id='reshot-icon-happy-smile-X93T4WMFY2' width='24.000000' height='24.000000' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23clip5_21)'%3E%3Crect id='rect' x='1.000000' y='1.000000' rx='7.656000' width='22.000000' height='22.000000' fill='%233CCF4E' fill-opacity='1.000000'/%3E%3Cpath id='path' d='M7.05 7.31C6.57 7.31 6.16 7.48 5.81 7.82C5.47 8.16 5.3 8.57 5.3 9.05C5.3 9.54 5.47 9.95 5.81 10.29C6.15 10.63 6.57 10.8 7.05 10.8C7.53 10.8 7.94 10.63 8.28 10.29C8.62 9.95 8.8 9.54 8.8 9.05C8.79 8.57 8.62 8.16 8.28 7.82C7.94 7.48 7.53 7.31 7.05 7.31Z' fill='%23864E20' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='path' d='M16.95 7.31C16.47 7.31 16.06 7.48 15.72 7.82C15.37 8.16 15.2 8.57 15.2 9.05C15.2 9.53 15.37 9.95 15.71 10.29C16.05 10.63 16.46 10.8 16.95 10.8C17.43 10.8 17.84 10.63 18.18 10.29C18.52 9.95 18.7 9.54 18.7 9.05C18.69 8.57 18.52 8.16 18.18 7.82C17.84 7.48 17.43 7.31 16.95 7.31Z' fill='%23864E20' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='path' d='M23 13.93C21.61 16 19.82 17.62 17.62 18.77C15.42 19.93 13.08 20.5 10.59 20.46C5.05 20.46 4.03 19.46 1.45 17.94C2 19.45 2.93 20.68 4.25 21.6C5.57 22.53 7.04 23 8.65 23L15.34 23C16.35 23 17.33 22.8 18.27 22.41C19.21 22.02 20.03 21.47 20.75 20.75C21.47 20.03 22.02 19.21 22.41 18.27C22.8 17.33 23 16.35 23 15.34L23 13.93Z' fill='%2343AE50' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='path' d='M16.6 12.25C15.18 13.11 13.65 13.53 12 13.52C10.34 13.53 8.81 13.11 7.4 12.25C7.4 12.25 6.94 11.97 7.23 12.52C7.51 13.06 9.09 13.45 9.11 13.65C9.97 14.29 10.93 14.6 12 14.6C13.07 14.6 14.03 14.29 14.89 13.65C14.91 13.45 16.49 13.07 16.77 12.52C17.05 11.97 16.6 12.25 16.6 12.25Z' fill='%23864E20' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='path' d='M14.42 14.96C12.8 15.9 11.19 15.9 9.57 14.96C9.15 14.73 9.1 15.12 9.93 15.61C10.55 16.02 11.24 16.24 12 16.27C12.75 16.24 13.44 16.02 14.07 15.61C14.9 15.12 14.84 14.73 14.42 14.96Z' fill='%2343AE50' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
}
.pain-faces .face-2 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24.000002' height='24.000000' viewBox='0 0 24 24' fill='none'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs%3E%3CclipPath id='clip5_8'%3E%3Crect id='reshot-icon-big-frown-ZA7K8VXWD6' width='24.000000' height='24.000000' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23clip5_8)'%3E%3Crect id='rect' x='1.000000' y='1.000000' rx='7.656000' width='22.000000' height='22.000000' fill='%2394D668' fill-opacity='1.000000'/%3E%3Cpath id='path' d='M7.05 7.31C6.57 7.31 6.16 7.48 5.81 7.82C5.47 8.16 5.3 8.57 5.3 9.05C5.3 9.54 5.47 9.95 5.81 10.29C6.15 10.63 6.57 10.8 7.05 10.8C7.53 10.8 7.94 10.63 8.28 10.29C8.62 9.95 8.8 9.54 8.8 9.05C8.79 8.57 8.62 8.16 8.28 7.82C7.94 7.48 7.53 7.31 7.05 7.31Z' fill='%23864E20' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='path' d='M16.95 7.31C16.47 7.31 16.06 7.48 15.72 7.82C15.37 8.16 15.2 8.57 15.2 9.05C15.2 9.53 15.37 9.95 15.71 10.29C16.05 10.63 16.46 10.8 16.95 10.8C17.43 10.8 17.84 10.63 18.18 10.29C18.52 9.95 18.7 9.54 18.7 9.05C18.69 8.57 18.52 8.16 18.18 7.82C17.84 7.48 17.43 7.31 16.95 7.31Z' fill='%23864E20' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='path' d='M23 13.93C21.61 16 19.82 17.62 17.62 18.77C15.42 19.93 13.08 20.5 10.59 20.46C5.05 20.46 4.03 19.46 1.45 17.94C2 19.45 2.93 20.68 4.25 21.6C5.57 22.53 7.04 23 8.65 23L15.34 23C16.35 23 17.33 22.8 18.27 22.41C19.21 22.02 20.03 21.47 20.75 20.75C21.47 20.03 22.02 19.21 22.41 18.27C22.8 17.33 23 16.35 23 15.34L23 13.93Z' fill='%2377AE52' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cellipse id='ellipse' cx='12.000002' cy='13.375000' rx='5.479000' ry='0.297000' fill='%23864E20' fill-opacity='1.000000'/%3E%3Cellipse id='ellipse' cx='12.000002' cy='14.645996' rx='1.969000' ry='0.229000' fill='%2377AE52' fill-opacity='1.000000'/%3E%3C/g%3E%3C/svg%3E");
}

.pain-faces .face-4 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24.000000' height='24.000000' viewBox='0 0 24 24' fill='none'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs%3E%3CclipPath id='clip5_35'%3E%3Crect id='reshot-icon-frown-WCU4ADRN7J' width='24.000000' height='24.000000' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23clip5_35)'%3E%3Crect id='rect' x='1.000000' y='1.000000' rx='7.656000' width='22.000000' height='22.000000' fill='%23F8DE40' fill-opacity='1.000000'/%3E%3Cpath id='path' d='M8.9 9.84C8.9 9.93 8.86 9.98 8.77 10.01C8.69 10.03 8.62 10.01 8.57 9.94C8.42 9.71 8.23 9.52 8 9.37C7.36 8.95 6.73 8.95 6.09 9.37C5.86 9.52 5.67 9.71 5.52 9.94C5.47 10.01 5.4 10.04 5.31 10.01C5.23 9.99 5.19 9.93 5.19 9.84C5.18 9.46 5.3 9.12 5.53 8.82C5.92 8.33 6.42 8.08 7.04 8.08C7.67 8.08 8.17 8.33 8.56 8.82C8.79 9.12 8.91 9.46 8.9 9.84Z' fill='%23864E20' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='path' d='M18.81 9.84C18.8 9.93 18.76 9.98 18.68 10.01C18.59 10.03 18.52 10.01 18.47 9.94C18.32 9.71 18.13 9.52 17.91 9.37C17.27 8.95 16.63 8.95 15.99 9.37C15.76 9.52 15.57 9.71 15.42 9.94C15.37 10.01 15.3 10.04 15.22 10.01C15.13 9.99 15.09 9.93 15.09 9.84C15.08 9.46 15.2 9.12 15.43 8.82C15.82 8.33 16.32 8.08 16.95 8.08C17.57 8.08 18.07 8.33 18.46 8.82C18.69 9.12 18.81 9.46 18.81 9.84Z' fill='%23864E20' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='path' d='M23 13.93C21.61 16 19.82 17.62 17.62 18.77C15.42 19.93 13.08 20.5 10.59 20.46C5.05 20.46 4.03 19.46 1.45 17.94C2 19.45 2.93 20.68 4.25 21.6C5.57 22.53 7.04 23 8.65 23L15.34 23C16.35 23 17.33 22.8 18.27 22.41C19.21 22.02 20.03 21.47 20.75 20.75C21.47 20.03 22.02 19.21 22.41 18.27C22.8 17.33 23 16.35 23 15.34L23 13.93Z' fill='%23E7C930' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='path' d='M7.3 15.35C7.3 15.35 11.05 13.22 13.92 13.04C16.79 12.85 17.83 13.26 16.58 13.54C15.33 13.82 13.67 13.38 11.09 14.27C8.51 15.16 6.56 15.88 7.3 15.35Z' fill='%23864E20' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='path' d='M13.58 14.61C12.2 14.52 10.11 15.97 10.11 15.97C9.68 16.35 10.71 15.91 12.06 15.39C13.41 14.87 14.13 15.38 14.76 15.25C15.39 15.13 14.97 14.7 13.58 14.61Z' fill='%23E7C930' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
}

.pain-faces .face-6 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24.000000' height='24.000000' viewBox='0 0 24 24' fill='none'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs%3E%3CclipPath id='clip5_15'%3E%3Crect id='reshot-icon-upset-YQDZUR4HXJ' width='24.000000' height='24.000000' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23clip5_15)'%3E%3Crect id='rect' x='1.000000' y='1.000000' rx='7.656000' width='22.000000' height='22.000000' fill='%23F5BD70' fill-opacity='1.000000'/%3E%3Cpath id='path' d='M7.05 7.31C6.57 7.31 6.16 7.48 5.81 7.82C5.47 8.16 5.3 8.57 5.3 9.05C5.3 9.54 5.47 9.95 5.81 10.29C6.15 10.63 6.57 10.8 7.05 10.8C7.53 10.8 7.94 10.63 8.28 10.29C8.62 9.95 8.8 9.54 8.8 9.05C8.79 8.57 8.62 8.16 8.28 7.82C7.94 7.48 7.53 7.31 7.05 7.31Z' fill='%23864E20' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='path' d='M16.95 7.31C16.47 7.31 16.06 7.48 15.72 7.82C15.37 8.16 15.2 8.57 15.2 9.05C15.2 9.53 15.37 9.95 15.71 10.29C16.05 10.63 16.46 10.8 16.95 10.8C17.43 10.8 17.84 10.63 18.18 10.29C18.52 9.95 18.7 9.54 18.7 9.05C18.69 8.57 18.52 8.16 18.18 7.82C17.84 7.48 17.43 7.31 16.95 7.31Z' fill='%23864E20' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='path' d='M23 13.93C21.61 16 19.82 17.62 17.62 18.77C15.42 19.93 13.08 20.5 10.59 20.46C5.05 20.46 4.03 19.46 1.45 17.94C2 19.45 2.93 20.68 4.25 21.6C5.57 22.53 7.04 23 8.65 23L15.34 23C16.35 23 17.33 22.8 18.27 22.41C19.21 22.02 20.03 21.47 20.75 20.75C21.47 20.03 22.02 19.21 22.41 18.27C22.8 17.33 23 16.35 23 15.34L23 13.93Z' fill='%23E5A854' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='path' d='M15.1 13.15C15.02 12.73 14.93 12.32 14.8 11.91C14.68 11.49 14.52 11.08 14.32 10.69C14.1 10.26 13.81 9.89 13.44 9.58C13.24 9.41 13.02 9.29 12.77 9.19C12.26 9 11.74 9 11.23 9.19C10.98 9.29 10.76 9.42 10.56 9.58C10.19 9.89 9.9 10.26 9.68 10.69C9.48 11.08 9.32 11.49 9.19 11.91C9.07 12.32 8.98 12.73 8.9 13.15C8.77 13.98 8.69 14.81 8.68 15.65C8.68 16.09 8.68 16.53 8.7 16.96C8.7 17.04 8.74 17.09 8.82 17.09C8.91 17.09 8.95 17.06 8.96 16.97C9.02 16.55 9.09 16.12 9.16 15.7C9.3 14.9 9.46 14.1 9.67 13.33C9.86 12.57 10.14 11.84 10.51 11.16C10.68 10.85 10.9 10.58 11.17 10.36C11.72 9.9 12.27 9.9 12.82 10.36C13.09 10.58 13.32 10.85 13.49 11.16C13.86 11.84 14.14 12.57 14.33 13.33C14.53 14.1 14.7 14.9 14.83 15.7C14.91 16.12 14.97 16.54 15.03 16.97C15.05 17.05 15.09 17.08 15.17 17.08C15.25 17.08 15.29 17.03 15.3 16.95C15.32 16.52 15.32 16.09 15.32 15.66C15.3 14.82 15.23 13.98 15.1 13.15Z' fill='%23864E20' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
}

.pain-faces .face-8 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24.000000' height='24.000000' viewBox='0 0 24 24' fill='none'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs%3E%3CclipPath id='clip5_1'%3E%3Crect id='reshot-icon-unready-U9HJPN3GDT' width='24.000000' height='24.000000' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23clip5_1)'%3E%3Crect id='rect' x='1.000000' y='1.000000' rx='7.656000' width='22.000000' height='22.000000' fill='%23F0955D' fill-opacity='1.000000'/%3E%3Cpath id='path' d='M23 13.93C21.61 16 19.82 17.62 17.62 18.77C15.42 19.93 13.08 20.5 10.59 20.46C5.05 20.46 4.03 19.46 1.45 17.94C2 19.45 2.93 20.68 4.25 21.6C5.57 22.53 7.04 23 8.65 23L15.34 23C16.35 23 17.33 22.8 18.27 22.41C19.21 22.02 20.03 21.47 20.75 20.75C21.47 20.03 22.02 19.21 22.41 18.27C22.8 17.33 23 16.35 23 15.34L23 13.93Z' fill='%23E48B55' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='path' d='M9.3 7.17C9.15 7.16 9 7.16 8.85 7.17C8.55 7.2 8.26 7.25 7.98 7.34C7.83 7.38 7.69 7.42 7.55 7.48C7.41 7.53 7.28 7.6 7.14 7.66C7.01 7.72 6.88 7.8 6.75 7.88C6.63 7.96 6.5 8.04 6.38 8.13C5.89 8.49 5.49 8.93 5.16 9.44C4.91 9.82 4.74 10.24 4.65 10.68C4.64 10.76 4.67 10.82 4.74 10.86C4.81 10.9 4.88 10.9 4.94 10.84C5.26 10.56 5.56 10.3 5.87 10.04C6.28 9.71 6.67 9.38 7.09 9.08C7.19 9 7.3 8.93 7.4 8.85L7.55 8.74C7.61 8.7 7.66 8.67 7.71 8.63C7.81 8.56 7.93 8.48 8.03 8.41C8.14 8.34 8.25 8.26 8.36 8.18C8.57 8.02 8.81 7.89 9.03 7.72C9.15 7.64 9.27 7.56 9.39 7.48C9.45 7.43 9.47 7.37 9.45 7.29C9.42 7.22 9.37 7.17 9.3 7.17Z' fill='%23864E20' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='path' d='M14.74 7.17C14.89 7.16 15.04 7.16 15.19 7.17C15.49 7.2 15.78 7.25 16.06 7.34C16.21 7.38 16.35 7.42 16.49 7.48C16.63 7.53 16.76 7.6 16.9 7.66C17.03 7.72 17.16 7.8 17.29 7.88C17.41 7.96 17.54 8.04 17.66 8.13C18.15 8.49 18.55 8.93 18.88 9.44C19.12 9.82 19.29 10.24 19.39 10.68C19.4 10.76 19.37 10.82 19.3 10.86C19.23 10.9 19.16 10.9 19.1 10.84C18.78 10.56 18.48 10.3 18.17 10.04C17.76 9.71 17.37 9.38 16.95 9.08C16.85 9 16.74 8.93 16.64 8.85L16.49 8.74C16.43 8.7 16.38 8.67 16.32 8.63C16.22 8.56 16.11 8.48 16.01 8.41C15.9 8.34 15.78 8.26 15.68 8.18C15.46 8.02 15.23 7.89 15 7.72C14.89 7.64 14.77 7.56 14.65 7.48C14.58 7.43 14.56 7.37 14.59 7.29C14.61 7.22 14.66 7.17 14.74 7.17Z' fill='%23864E20' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='path' d='M14.51 13.36C12.83 12.58 11.16 12.58 9.48 13.36C8.89 13.73 8.93 12.67 10.24 12.39C10.81 12.21 11.4 12.11 12 12.07C12.59 12.11 13.18 12.21 13.75 12.39C15.06 12.67 15.1 13.73 14.51 13.36Z' fill='%23864E20' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='path' d='M13.07 14.26C12.35 13.93 11.64 13.93 10.92 14.26C10.67 14.42 10.68 13.96 11.24 13.85C11.49 13.77 11.74 13.73 12 13.71C12.25 13.73 12.5 13.77 12.75 13.85C13.31 13.97 13.32 14.42 13.07 14.26Z' fill='%23C98053' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
}

.pain-faces .face-10 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24.000000' height='24.000000' viewBox='0 0 24 24' fill='none'%3E%3Cdesc%3E Created with Pixso. %3C/desc%3E%3Cdefs%3E%3CclipPath id='clip5_28'%3E%3Crect id='reshot-icon-frazzled-URBDMCWJXZ' width='24.000000' height='24.000000' fill='white' fill-opacity='0'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23clip5_28)'%3E%3Crect id='rect' x='1.000000' y='1.000000' rx='7.656000' width='22.000000' height='22.000000' fill='%23CF625F' fill-opacity='1.000000'/%3E%3Cpath id='path' d='M23 13.93C21.61 16 19.82 17.62 17.62 18.77C15.42 19.93 13.08 20.5 10.59 20.46C5.05 20.46 4.03 19.46 1.45 17.94C2 19.45 2.93 20.68 4.25 21.6C5.57 22.53 7.04 23 8.65 23L15.34 23C16.35 23 17.33 22.8 18.27 22.41C19.21 22.02 20.03 21.47 20.75 20.75C21.47 20.03 22.02 19.21 22.41 18.27C22.8 17.33 23 16.35 23 15.34L23 13.93Z' fill='%23A64D4A' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='path' d='M9.6 8.83L9.02 8.6C8.67 8.45 8.32 8.31 7.96 8.18C7.6 8.05 7.24 7.93 6.88 7.82C6.51 7.71 6.15 7.61 5.78 7.52C5.64 7.49 5.54 7.54 5.48 7.67C5.43 7.79 5.46 7.9 5.58 7.97C5.91 8.17 6.25 8.37 6.58 8.55C6.77 8.65 6.96 8.75 7.14 8.84C7.24 8.88 7.28 8.96 7.28 9.06C7.28 9.16 7.24 9.23 7.14 9.28C6.96 9.37 6.77 9.47 6.58 9.57C6.25 9.75 5.91 9.94 5.59 10.14C5.47 10.22 5.43 10.33 5.48 10.46C5.53 10.58 5.63 10.63 5.76 10.6C6.13 10.51 6.52 10.41 6.88 10.3C7.25 10.19 7.61 10.07 7.96 9.94C8.14 9.87 8.32 9.8 8.49 9.74L9.02 9.53L9.59 9.29C9.7 9.26 9.76 9.18 9.76 9.06C9.76 8.94 9.71 8.87 9.6 8.83Z' fill='%23864E20' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='path' d='M14.4 8.83L14.97 8.59C15.32 8.45 15.67 8.31 16.03 8.18C16.39 8.05 16.75 7.93 17.11 7.82C17.48 7.71 17.84 7.61 18.21 7.52C18.35 7.49 18.45 7.54 18.51 7.66C18.56 7.79 18.53 7.89 18.41 7.97C18.09 8.17 17.74 8.37 17.41 8.55C17.22 8.65 17.03 8.74 16.85 8.84C16.75 8.88 16.71 8.96 16.71 9.06C16.71 9.16 16.75 9.23 16.85 9.28C17.04 9.37 17.22 9.47 17.41 9.57C17.74 9.75 18.08 9.94 18.4 10.14C18.52 10.22 18.56 10.33 18.51 10.45C18.46 10.58 18.36 10.63 18.23 10.6C17.86 10.51 17.47 10.41 17.11 10.3C16.74 10.19 16.38 10.06 16.03 9.94C15.85 9.87 15.67 9.8 15.5 9.74L14.97 9.52L14.4 9.29C14.29 9.25 14.23 9.17 14.24 9.06C14.24 8.94 14.29 8.87 14.4 8.83Z' fill='%23864E20' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='path' d='M17.05 13.32C16.91 13.19 16.77 13.07 16.63 12.95C16.35 12.71 16.06 12.47 15.78 12.24C15.7 12.18 15.62 12.17 15.53 12.22C15.21 12.41 14.86 12.61 14.55 12.81C14.35 12.92 14.15 13.05 13.96 13.17C13.87 13.22 13.79 13.22 13.71 13.16L13.58 13.06C13.43 12.95 13.28 12.85 13.13 12.74C12.83 12.52 12.53 12.32 12.23 12.11L12.12 12.03C12.04 11.97 11.96 11.97 11.88 12.03L11.77 12.11C11.47 12.32 11.16 12.52 10.87 12.74C10.72 12.85 10.57 12.95 10.42 13.06L10.29 13.16C10.21 13.22 10.13 13.22 10.04 13.17C9.84 13.05 9.65 12.92 9.45 12.8C9.3 12.7 9.14 12.61 8.98 12.52C8.82 12.42 8.66 12.33 8.5 12.24C8.42 12.19 8.3 12.18 8.22 12.24C7.94 12.47 7.65 12.71 7.37 12.95C7.23 13.07 7.09 13.19 6.95 13.32C6.81 13.44 6.68 13.56 6.54 13.69C6.71 13.61 6.88 13.53 7.04 13.45C7.21 13.36 7.37 13.28 7.54 13.19C7.76 13.07 7.99 12.94 8.21 12.81C8.3 12.77 8.38 12.77 8.45 12.83L8.65 12.99C8.8 13.11 8.94 13.22 9.09 13.33C9.38 13.56 9.68 13.78 9.97 14C10.05 14.06 10.21 14.11 10.29 14.06L10.39 14L10.86 13.7C11.01 13.6 11.16 13.5 11.32 13.4C11.51 13.27 11.7 13.15 11.88 13.02C11.96 12.97 12.05 12.97 12.13 13.02C12.31 13.15 12.5 13.27 12.69 13.4C12.84 13.5 13 13.6 13.15 13.7L13.62 14L13.72 14.06C13.8 14.11 13.88 14.11 13.96 14.05C14.26 13.83 14.62 13.56 14.91 13.33C15.12 13.17 15.33 13 15.55 12.83C15.62 12.77 15.7 12.76 15.79 12.81C16.01 12.94 16.24 13.06 16.47 13.19C16.63 13.28 16.79 13.36 16.96 13.45C17.12 13.53 17.29 13.61 17.46 13.69C17.32 13.56 17.19 13.44 17.05 13.32Z' fill='%23864E20' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3Cpath id='path' d='M13.59 15.07L13.46 14.95C13.37 14.88 13.28 14.8 13.19 14.73C13.09 14.79 12.9 14.85 12.8 14.91C12.74 14.94 12.68 14.98 12.61 15.02L12.5 14.99C12.45 14.96 12.4 14.92 12.35 14.89C12.26 14.82 12.16 14.76 12.07 14.69C12.04 14.67 11.98 14.65 11.96 14.67C11.86 14.73 11.73 14.82 11.64 14.89C11.59 14.92 11.54 14.96 11.5 14.99C11.47 15.01 11.4 15.04 11.38 15.02L11.19 14.91L11.04 14.82L10.89 14.73C10.8 14.8 10.62 14.87 10.53 14.95L10.4 15.07C10.36 15.1 10.32 15.14 10.27 15.19C10.33 15.16 10.35 15.09 10.4 15.07C10.45 15.04 10.48 14.98 10.53 14.95C10.61 14.91 10.73 14.95 10.8 14.91L10.94 14.96L11.08 15.07C11.17 15.14 11.26 15.21 11.36 15.28C11.38 15.3 11.43 15.32 11.46 15.3L11.63 15.18L11.78 15.08C11.84 15.05 11.9 15.01 11.96 14.97L12.21 15.08L12.36 15.18L12.5 15.28C12.53 15.3 12.59 15.32 12.61 15.3C12.71 15.23 12.82 15.14 12.91 15.07C12.98 15.02 13.05 14.97 13.11 14.91C13.18 14.95 13.39 14.91 13.46 14.95C13.51 14.98 13.53 15.04 13.59 15.07C13.65 15.1 13.66 15.16 13.72 15.19C13.68 15.15 13.63 15.11 13.59 15.07Z' fill='%23A64D4A' fill-opacity='1.000000' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
}

.pain-faces .pain-level .label {
  font-size: 12px;
}

.current-pain {
  margin-top: 10px;
}

.pain-scale-container input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background-color: rgb(51, 223, 191);
  border-radius: 5px;
  background-repeat: no-repeat;
  outline: none;
  transition: background-size 0.3s ease;
}

@media screen and (max-width: 480px) {
  .pain-faces {
    grid-template-columns: repeat(11, 30px);
  }

  .pain-faces .pain-level .label {
    font-size: 9px;
  }

  .pain-scale-container .top-container .control_title {
    font-size: 13px;
  }
}
